rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{memberId} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    match /letters/{letterId} {
      allow create: if request.resource.data.keys().hasAll([
        'sender', 'recipientId', 'recipientName', 'message'
      ]);
      allow read, delete: if true;
    }
  }
}
